.switch {
  position: relative;
  display: inline-block;
}

.switch:hover {
  cursor: pointer;
}

.switch > input {
  display: none;
}

.switch .switch-inner {
  overflow: hidden;
}

.switch .switch-inner-box {
  position: relative;
}

.switch .switch-on {
  display: block;
  float: left;
}

.switch .switch-off {
  display: block;
  float: left;
}

.switch .switch-handle {
  position: absolute;
  top: 0;
}

.switch .switch-handle:hover {
  cursor: pointer;
}

.switch.skin-3 {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.switch.skin-3 .switch-inner {
  width: 68px;
  height: 26px;
}

.switch.skin-3 .switch-inner-box {
  width: 110px;
  height: 26px;
}

.switch.skin-3 .switch-on {
  width: 55px;
  height: 26px;
  font-family: "BPreplay", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  text-indent: 13px;
  background-color: #7ebdcb;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.switch.skin-3 .switch-off {
  width: 55px;
  height: 26px;
  font-family: "BPreplay", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  text-indent: 24px;
  background-color: #cfcdc7;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.switch.skin-3 .switch-handle {
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.switch.skin-3 .switch-handle:hover {
  cursor: pointer;
}

.switch.skin-3.is-on {
  background-color: #7ebdcb;
  border: 2px solid #7ebdcb;
}

.switch.skin-3.is-on .switch-inner-box {
  margin-left: 0;
}

.switch.skin-3.is-on .switch-off {
  background-color: #7ebdcb;
}

.switch.skin-3.is-on .switch-handle {
  left: 42px;
}

.switch.skin-3.is-off {
  background-color: #cfcdc7;
  border: 2px solid #cfcdc7;
}

.switch.skin-3.is-off .switch-inner-box {
  margin-left: -42px;
}

.switch.skin-3.is-off .switch-on {
  background-color: #cfcdc7;
}

.switch.skin-3.is-off .switch-handle {
  left: 0;
}

.switch.skin-8 {
  background-color: #323232;
  border: 2px solid #323232;
}

.switch.skin-8 .switch-inner {
  width: 68px;
  height: 26px;
}

.switch.skin-8 .switch-inner-box {
  width: 110px;
  height: 26px;
}

.switch.skin-8 .switch-on {
  width: 55px;
  height: 26px;
  font-family: "BPreplay", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  text-indent: 13px;
  background-color: #323232;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.switch.skin-8 .switch-off {
  width: 55px;
  height: 26px;
  font-family: "BPreplay", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  text-indent: 24px;
  background-color: #323232;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.switch.skin-8 .switch-handle {
  width: 26px;
  height: 26px;
}

.switch.skin-8.is-on .switch-inner-box {
  margin-left: 0;
}

.switch.skin-8.is-on .switch-handle {
  left: 42px;
  background-color: #27acd8;
}

.switch.skin-8.is-off .switch-inner-box {
  margin-left: -42px;
}

.switch.skin-8.is-off .switch-handle {
  left: 0;
  background-color: #ffffff;
}

.switch.skin-3 {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.switch.skin-3 .switch-inner {
  width: 68px;
  height: 26px;
}

.switch.skin-3 .switch-inner-box {
  width: 110px;
  height: 26px;
}

.switch.skin-3 .switch-on {
  width: 55px;
  height: 26px;
  font-family: "BPreplay", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  text-indent: 13px;
  background-color: #7ebdcb;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.switch.skin-3 .switch-off {
  width: 55px;
  height: 26px;
  font-family: "BPreplay", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  text-indent: 24px;
  background-color: #cfcdc7;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.switch.skin-3 .switch-handle {
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.switch.skin-3 .switch-handle:hover {
  cursor: pointer;
}

.switch.skin-3.is-on {
  background-color: #7ebdcb;
  border: 2px solid #7ebdcb;
}

.switch.skin-3.is-on .switch-inner-box {
  margin-left: 0;
}

.switch.skin-3.is-on .switch-off {
  background-color: #7ebdcb;
}

.switch.skin-3.is-on .switch-handle {
  left: 42px;
}

.switch.skin-3.is-off {
  background-color: #cfcdc7;
  border: 2px solid #cfcdc7;
}

.switch.skin-3.is-off .switch-inner-box {
  margin-left: -42px;
}

.switch.skin-3.is-off .switch-on {
  background-color: #cfcdc7;
}

.switch.skin-3.is-off .switch-handle {
  left: 0;
}

.switch.skin-8 {
  background-color: #323232;
  border: 2px solid #323232;
}

.switch.skin-8 .switch-inner {
  width: 68px;
  height: 26px;
}

.switch.skin-8 .switch-inner-box {
  width: 110px;
  height: 26px;
}

.switch.skin-8 .switch-on {
  width: 55px;
  height: 26px;
  font-family: "BPreplay", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  text-indent: 13px;
  background-color: #323232;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.switch.skin-8 .switch-off {
  width: 55px;
  height: 26px;
  font-family: "BPreplay", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  text-indent: 24px;
  background-color: #323232;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.switch.skin-8 .switch-handle {
  width: 26px;
  height: 26px;
}

.switch.skin-8.is-on .switch-inner-box {
  margin-left: 0;
}

.switch.skin-8.is-on .switch-handle {
  left: 42px;
  background-color: #27acd8;
}

.switch.skin-8.is-off .switch-inner-box {
  margin-left: -42px;
}

.switch.skin-8.is-off .switch-handle {
  left: 0;
  background-color: #ffffff;
}